.card-container-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 90%;
  max-height: 50%;
  margin-left: 9%;
  /* margin-right: 5%; */
}

/* Individual card styling */
.card-main {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 30%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
}

.card-img {
  max-width: auto;
  height: auto;
}

.card-bodySection {
  padding: 15px;
}

.card-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.card-para {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.read-more-btn {
  display: block; /* Ensures it takes full width */
  width: 200px; /* Adjust button width */
  margin: 20px auto; /* Centers the button */
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.read-more-btn:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05);
}

.text-body-secondary {
  font-size: 0.9rem;
  color: #666;
}
@media (max-width: 800px) {
  .card-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: auto;
  }
  .card-bodySection {
    margin-top: 35%;
    width: auto;
    height: auto;
  }
  .card-heading {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .card-bodySection {
    margin-top: 15%;
    width: auto;
    height: auto;
  }
  h4 {
    display: none;
  }
}
